﻿@using System.Configuration
@using Modulo.Kanban.Domain.Entities
@using Modulo.Kanban.Web.Models
@model KanbanViewModel
@{
    foreach (Sprint sprint in Model.Sprints)
    {
        <div class="col-md-4 col-sm-6 step" id="sprint-@sprint.Id" data-color="info">
            <h3>@sprint.Name
                <small>
                    @(sprint.StartDate.HasValue ? "" + sprint.StartDate.Value.ToString("dd/MM/yyyy") : "")
                    @(sprint.EndDate.HasValue ? "to " + sprint.EndDate.Value.ToString("dd/MM/yyyy") : "")
                </small></h3>
        
            @Html.Action("UserStories", "Kanban", new {projectName = Model.CurrentProject.Name, id = sprint.Id, teamName = Model.CurrentTeam})
        </div>
    }
}