﻿@using System.Configuration
@using Modulo.Kanban.Web.Models
@model KanbanViewModel

<div class="panel-group" id="accordion-userstories">
    @{
        int i = 0;
        foreach (var userStory in Model.UserStories)
        {
        <div class="panel panel-default panel-userstory" data-id="@userStory.Id">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_@userStory.Id">
                        <span class="fa fa-cubes"></span> @userStory.Id - @userStory.Title
                    </a>
                </h4>
            </div>
            <div id="collapse_@userStory.Id" class="panel-collapse collapse@(i == 0 ? " in" : "")">
                <div class="panel-body tasks-body">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tabs-left">
                            <li class="active"><a href="#developer-@userStory.Id" data-toggle="tab"><span class="fa fa-code"></span> Developer</a></li>
                            <li><a href="#tester-@userStory.Id" data-toggle="tab"><span class="fa fa-bug"></span> Tester</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active developer" id="developer-@userStory.Id" data-changestatusurl="@Url.Action("ChangeTaskStatus")">
                                <div class="col-md-4 col-sm-6 step step-info" id="todo" data-color="info" data-state="todo">
                                    <h3><a class="btn btn-xs btn-primary btn-newtask" title="Adicionar tarefa" href="@Url.Action("Task")"><span class="fa fa-plus"></span></a> To Do</h3>

                                    <div class="step-content clearfix" id="todo-content">
                                        @foreach (var workItem in userStory.Tasks.Where(o => o.State.ToLower() == "active"))
                                        {
                                            @RenderPostIt(workItem, "info")
                                        }
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6 step step-warning" id="doing" data-color="warning" data-state="doing">
                                    <h3>Doing</h3>

                                    <div class="step-content clearfix" id="doing-content">
                                        @foreach (var workItem in userStory.Tasks.Where(o => o.State.ToLower() == "in progress"))
                                        {
                                            @RenderPostIt(workItem, "warning")
                                        }
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6 step step-success" id="done" data-color="success" data-state="done">
                                    <h3>Done</h3>
                                    <div class="step-content clearfix" id="done-content">
                                        @foreach (var workItem in userStory.Tasks.Where(o => o.State.ToLower() == "closed" || o.State == "ready for review"))
                                        {
                                            @RenderPostIt(workItem, "success")
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane tester" id="tester-@userStory.Id" data-changestatusurl="@Url.Action("ChangeTestCaseStatus")">
                                <div class="col-md-4 col-sm-6 step step-info" id="totest" data-color="info" data-state="totest">
                                    <h3>To Test</h3>
                                    <div class="step-content" id="totest-content">
                                        @foreach (var workItem in userStory.Tasks.Where(o => o.State.ToLower() == "test"))
                                        {
                                            @RenderPostIt(workItem, "info")
                                        }
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6 step step-warning" id="testing" data-color="warning" data-state="testing">
                                    <h3>Testing</h3>
                                    <div class="step-content" id="testing-content">
                                        @foreach (var workItem in userStory.Tasks.Where(o => o.State.ToLower() == "test"))
                                        {
                                            @RenderPostIt(workItem, "warning")
                                        }
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6 step step-success" id="tested" data-color="success" data-state="tested">
                                    <h3>Tested</h3>
                                    <div class="step-content" id="tested-content">
                                        @foreach (var workItem in userStory.Tasks.Where(o => o.State.ToLower() == "test"))
                                        {
                                            @RenderPostIt(workItem, "success")
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
            i++;
        }
    }
</div>

@helper RenderPostIt(TaskViewModel task, string color)
{
    <div class="panel panel-@color" data-id="@task.Id">
        <div class="panel-heading">
            <span><span class="fa fa-cube"></span> @task.Id</span>
            @if (!string.IsNullOrWhiteSpace(task.AssignedTo.UserName))
            {
                <span class="username"><a class="lnk-changeuser" href="@Url.Action("ChangeTaskUser", "Kanban", new { id = task.Id })" title="@task.AssignedTo.DisplayName (@task.AssignedTo.UserName)">@task.AssignedTo.DisplayName</a></span>
                <span class="thumbnail">@RenderUserImage(task.AssignedTo)</span>
            }
        </div>
        <div class="panel-body">
            <p>@task.Title</p>
        </div>
    </div>
}
@helper RenderUserImage(UserViewModel user)
{
    var baseUrl = ConfigurationManager.AppSettings["TfsUrl"];
    <img src="@baseUrl/_api/_common/IdentityImage?id=@user.Id&__v=3" />
}