﻿@using System.Configuration
@using Modulo.Kanban.Domain.Entities
@using Modulo.Kanban.Web.Models
@model KanbanViewModel
@{
    <div data-changestatusurl="@Url.Action("ChangeUserStoryStatus")">
        <div class="col-md-4 col-sm-6 step step-info" data-color="info" data-state="available">
            <h3>Available</h3>
            <div class="step-content">
                @foreach (var userStory in Model.UserStories.Where(us => us.State == "Active"))
                {
                    @RenderPostIt(userStory, "info")
                }
            </div>
        </div>
        <div class="col-md-4 col-sm-6 step step-warning" data-color="warning" data-state="accepted">
            <h3>Accepted</h3>
            <div class="step-content">
                @foreach (var userStory in Model.UserStories.Where(us => us.State == "test"))
                {
                    @RenderPostIt(userStory, "warning")
                }
            </div>
        </div>
        <div class="col-md-4 col-sm-6 step step-success" data-color="success" data-state="delivered">
            <h3>Delivered</h3>
            <div class="step-content">
                @foreach (var userStory in Model.UserStories.Where(us => us.State == "Resolved"))
                {
                    @RenderPostIt(userStory, "success")
                }
            </div>
        </div>
    </div>
}
@helper RenderPostIt(UserStoryViewModel userStory, string color)
{
    <div class="panel panel-@color" data-id="@userStory.Id">
        <div class="panel-heading">
            <span><span class="fa fa-cube"></span> @userStory.Id</span>
            @if (!string.IsNullOrWhiteSpace(userStory.AssignedTo.UserName))
            {
                <span class="username"><a href="@Url.Action("ChangeUser")" title="@userStory.AssignedTo.DisplayName (@userStory.AssignedTo.UserName)">@userStory.AssignedTo.DisplayName</a></span>
                <span class="thumbnail">@RenderUserImage(userStory.AssignedTo)</span>
            }
        </div>
        <div class="panel-body">
            <p>@userStory.Title</p>
        </div>
    </div>
}
@helper RenderUserImage(UserViewModel user)
{
    var baseUrl = ConfigurationManager.AppSettings["TfsUrl"];
    <img src="@baseUrl/_api/_common/IdentityImage?id=@user.Id&__v=3" />
}