﻿@using System.Configuration
@using Modulo.Kanban.Web.Models
@model List<UserStoryViewModel>

@foreach (UserStoryViewModel userStory in Model)
{
    <div class="panel panel-info" data-id="@userStory.Id">
        <div class="panel-heading">
            <span><span class="fa fa-cube"></span> @userStory.Id</span>
            @if (!string.IsNullOrWhiteSpace(userStory.AssignedTo.UserName))
            {
                <span class="username"><a href="@Url.Action("ChangeUser")" title="@userStory.AssignedTo.DisplayName (@userStory.AssignedTo.UserName)">@userStory.AssignedTo.DisplayName</a></span>
                <span class="thumbnail">@RenderUserImage(userStory.AssignedTo)</span>
            }
        </div>
        <div class="panel-body">
            <p>@userStory.Title</p>
        </div>
    </div>
}
@helper RenderUserImage(UserViewModel user)
{
    var baseUrl = ConfigurationManager.AppSettings["TfsUrl"];
    <img src="@baseUrl/_api/_common/IdentityImage?id=@user.Id&__v=3" />
}