﻿@model Modulo.Kanban.Web.Models.ChangeUserViewModel
@{
    ViewBag.Title = "Change User";
    Layout = "~/Views/Shared/_Modal.cshtml";
}
<form role="form" method="POST">
    <div class="form-group">
        @Html.LabelFor(m => m.CurrentUser)
        <span class="form-control">@Model.CurrentUser.DisplayName (@Model.CurrentUser.UserName)</span>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ToUser)
        @Html.DropDownListFor(m => m.ToUser, new SelectList(Model.Users.Select(o => new { Id = o.Id, Name = o.DisplayName + " (" + o.UserName + ")"}), "Id", "Name"), "« Select user »", new { @class="form-control" })
    </div>
</form>
@section footer
{
    <button type="button" class="btn btn-default" id="btn-close" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="btn-save">Save changes</button>
}