﻿@using System.Configuration
@using Modulo.Kanban.Domain.Entities
@using Modulo.Kanban.Web.Components
@using Modulo.Kanban.Web.Models
@model Modulo.Kanban.Web.Models.KanbanViewModel
@{
    ViewBag.Title = "User Stories";
}
@section scripts
{
    @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/Scripts/jquery.dotdotdot.js")
    @Scripts.Render("~/Scripts/kanban.js")
}
<h2 class="page-header">@Model.CurrentProject.Name</h2>
<div class="row filter">
    <div class="col-xs-12">
        <form class="form-inline" method="POST" role="form">
            <div class="form-group">
                @Html.LabelFor(m => m.CurrentIteration.Id, new { @class = "control-label" })
                @Html.Partial("_Iterations")
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CurrentTeam, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.CurrentTeam, new SelectList(Model.Teams), "« Select a team »", new { @class = "form-control input-sm", id = "ddl-projects", data_iterationsurl = Url.Action("Iterations") })
            </div>
            <button type="submit" class="btn btn-default">Filter</button>
        </form>
    </div>
</div>

<div class="row">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-hash" role="tablist">
        <li class="active"><a href="#sprints" role="tab" data-toggle="tab"><span class="fa fa-columns"></span> Sprints View</a></li>
        <li><a href="#userstories" role="tab" data-toggle="tab"><span class="fa fa-columns"></span> User Stories View</a></li>
        <li><a href="#tasks" role="tab" data-toggle="tab"><span class="fa fa-columns"></span> Tasks View</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="sprints">
            @Html.Partial("_SprintsView")
        </div>
        <div class="tab-pane" id="userstories">
            @Html.Partial("_UserStoriesView")
        </div>
        <div class="tab-pane" id="tasks">
            @Html.Partial("_TasksView")
        </div>
    </div>
</div>
