﻿@model Modulo.Kanban.Web.Models.TaskViewModel
@{
    ViewBag.Title = "Task";
    Layout = "~/Views/Shared/_Modal.cshtml";
}
<form role="form" method="POST">
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class="form-control"})
    </div>
</form>
@section footer
{
    <button type="button" class="btn btn-default" id="btn-close" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="btn-save">Save changes</button>
}