// Core variables and mixins
@import "bootstrap/variables.less";

@icon-font-path: "fonts/";

@import "bootstrap/mixins.less";

// Azuis
@blueDarker: #002459;
@blueDark: #2C5078;
@blue: #005BE4;
@blueLight: #427FED;
@blueLighter: #A2CAFF;

@navbar-inverse-bg: @blueDarker;

// Reset and dependencies
@import "bootstrap/normalize.less";
@import "bootstrap/print.less";
@import "bootstrap/glyphicons.less";

// Core CSS
@import "bootstrap/scaffolding.less";
@import "bootstrap/type.less";
@import "bootstrap/code.less";
@import "bootstrap/grid.less";
@import "bootstrap/tables.less";
@import "bootstrap/forms.less";
@import "bootstrap/buttons.less";

// Components
@import "bootstrap/component-animations.less";
@import "bootstrap/dropdowns.less";
@import "bootstrap/button-groups.less";
@import "bootstrap/input-groups.less";
@import "bootstrap/navs.less";
@import "bootstrap/navbar.less";
@import "bootstrap/breadcrumbs.less";
@import "bootstrap/pagination.less";
@import "bootstrap/pager.less";
@import "bootstrap/labels.less";
@import "bootstrap/badges.less";
@import "bootstrap/jumbotron.less";
@import "bootstrap/thumbnails.less";
@import "bootstrap/alerts.less";
@import "bootstrap/progress-bars.less";
@import "bootstrap/media.less";
@import "bootstrap/list-group.less";
@import "bootstrap/panels.less";
@import "bootstrap/responsive-embed.less";
@import "bootstrap/wells.less";
@import "bootstrap/close.less";

// Components w/ JavaScript
@import "bootstrap/modals.less";
@import "bootstrap/tooltip.less";
@import "bootstrap/popovers.less";
@import "bootstrap/carousel.less";

// Utility classes
@import "bootstrap/utilities.less";
@import "bootstrap/responsive-utilities.less";

// Theme
@import "bootstrap/theme.less";

// Font Awesome
@import "fontawesome/variables.less";
@fa-font-path: "fonts";

@import "fontawesome/mixins.less";
@import "fontawesome/path.less";
@import "fontawesome/core.less";
@import "fontawesome/larger.less";
@import "fontawesome/fixed-width.less";
@import "fontawesome/list.less";
@import "fontawesome/bordered-pulled.less";
@import "fontawesome/spinning.less";
@import "fontawesome/rotated-flipped.less";
@import "fontawesome/stacked.less";
@import "fontawesome/icons.less";


@import "tabs.less";

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

    .nav-sidebar > li > a {
        padding-right: 20px;
        padding-left: 20px;
    }

    .nav-sidebar > .active > a,
    .nav-sidebar > .active > a:hover,
    .nav-sidebar > .active > a:focus {
        color: #fff;
        background-color: #428bca;
    }


/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

.page-header {
    margin: 20px 0 20px;
}

.filter {
    margin-bottom: 20px;
}

#navbar-main {
    .navbar-brand {
        text-indent: -1000px;
        overflow: hidden;
        background: transparent url(images/logo-modulo-risk-manager.png) 0 50% no-repeat;
        width: 162px;
        margin-left: 0;
        margin-right: 15px;
    }

    .navbar-nav > li > a {
        color: @brand-primary;

        &:hover, &:focus {
            color: lighten(@brand-primary, 50%);
        }
    }
}


#todo, #totest {
    .alert-styles(softlight(@alert-info-bg, #FFF));
}

#doing, #testing {
    .alert-styles(softlight(@alert-warning-bg, #FFF));
}

#done, #tested {
    .alert-styles(softlight(@alert-success-bg, #FFF));
}

#sprints, #userstories, #tasks {
    padding: 10px 15px 0;
}


#accordion-userstories {
    .tasks-body {
        min-height: 400px;
        position: relative;
        overflow: hidden;

        .tabs-left {
            width: 120px;
            float: left;
            min-height: 404px;
        }

        .tab-content {
            margin-left: 120px;
        }
    }
}

.step {
    min-height: 400px;
    height: 100%;
    position: relative;

    .step-content {
        vertical-align: top;
        min-height: 350px;
        height: 100%;

        .panel {
            width: 47%;
            display: inline-block;
            vertical-align: top;
            margin: 0 5px 5px 0;

            .panel-heading {
                padding: 5px;
                position: relative;
                padding-right: 35px;

                .username {
                    display: block;
                    position: absolute;
                    top: 5px;
                    left: 65px;
                    right: 35px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    text-align: right;
                }

                .thumbnail {
                    position: absolute;
                    top: 2px;
                    right: 2px;
                    height: 30px;
                    width: 30px;

                    img {
                        height: 100%;
                    }
                }
            }

            .panel-body {
                padding: 5px;
                min-height: 90px;
                height: 90px;
            }
        }
    }
}