﻿@using Modulo.Kanban.Web.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation" id="navbar-main">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="#">Módulo</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="menu">

                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Projetos <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @foreach (var item in (List<ProjectViewModel>) ViewBag.Projects)
                            {
                                <li id="menu-item-view-sort"><a href="@Url.Action("Index", "Kanban", new { projectName = item.Name })">@item.Name</a></li>
                            }
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
</body>
</html>
