@model List<Modulo.Kanban.Web.Models.ProjectViewModel>
@{
    ViewBag.Title = "Projects";
}
@section scripts
{
    @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/Scripts/jquery.dotdotdot.js")
}
<h2 class="page-header">Projects</h2>
<div class="row">
    @foreach (var project in Model)
    {
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <img data-src="holder.js/300x300" alt="...">
                <div class="caption">
                    <h3>@project.Name</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
    }
</div>